<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>835648011479-ivt1jj36rn765sliou971rrh7rea7072.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.835648011479-ivt1jj36rn765sliou971rrh7rea7072</string>
	<key>API_KEY</key>
	<string>AIzaSyA-Mf7vQvWFB6sex2cPgxbAudoqarVL0hA</string>
	<key>GCM_SENDER_ID</key>
	<string>835648011479</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.palmatoro.cvr</string>
	<key>PROJECT_ID</key>
	<string>cvr-app-34cb6</string>
	<key>STORAGE_BUCKET</key>
	<string>cvr-app-34cb6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:835648011479:ios:f7d2cde6756fe6e02b8492</string>
	<key>DATABASE_URL</key>
	<string>https://cvr-app-34cb6.firebaseio.com</string>
</dict>
</plist>